.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 76vh;
}

.search-input-container {
  display: flex; /* Set to flex */
  align-items: center; /* Center items vertically */
}


.search-input {
  width: 700px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  margin-right: 10px;
  box-shadow: 4px 4px 10px rgba(198, 196, 196, 0.5);
}

.search-button {
  padding: 15px 30px;
  background-color: #03a9f0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0288d1; /* Darken the button color on hover */
}

.user-data-container {
  margin: 0px auto; /* Center the container horizontally */
  max-width: 1500px; /* Adjust the maximum width of the container */
  padding: 20px; /* Add padding inside the container */
   /* Add a border */
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: 0 0 10px rgba(188, 186, 186, 0.5); /* Add a box shadow for a card-like effect */
  margin-bottom: 100px;
  margin-top: -170px;
  overflow-y: auto; /* Add vertical scrollbar when content exceeds container height */
  max-height: calc(110vh - 100px); /* Set max height for scroll to avoid overlapping with footer */
}

.user-data-container h1{
  color: white;
  font-size: 30px;
}

.userid{
  color: white;
  font-size: 19px;
  font-style: italic;
}

.error-message-block {
  color: red;
}

.badge-img {
  width: 50px;
  height: 50px;
}
